.card{
    border: 1px solid orange;
    background-color: rgba(0, 187, 34, 0.1) !important;
    z-index: -1;
}

.p-user{
    font-weight: 100;
    font-size: 14px;
}

.user-card-btn{
    border: none;
    background-color: transparent;
    color: rgb(255, 145, 0)
}

.pop-up-contact{
    height: 300px;
    width: 500px;
    top: 150px;
    left:  calc((100% - 500px)/2);
    position: fixed;
    border-radius: 10px;
    border: 2px solid rgb(0, 187, 34);
    background-color: rgb(255, 208, 170);
    z-index: 100;
}

.pop-up-top{
    height: 40px;
    background-color: rgb(0, 187, 34);
}

.pop-up-cls{
    height: 30px;
    width: 30px;
    color: orangered;
    border: 1px solid gray;
    border-radius: 5px;
}

.pop-up-title{
    color: orangered;
}

.textarea{
    width: 450px !important;
    height: 160px !important;
    background-color: rgb(255, 240, 228) !important;
}

.msgTo{
    color: white;
    text-shadow: 3px 3px rgb(0, 131, 253);
}