.card-art{
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 10pt;
}

.orangered{
    color: orangered;
}

.little{
    font-size: 8pt;
    font-weight: 100;
}

.card-btn{
    font-size: 12pt;
    color: orangered;
    border: none;
    background-color: transparent;
    padding-top: 10px;
}