.friends-btm-spc{
    height: 200px;
}

.search-cnt{
    height: 100%;
    padding-top: 150px;
}

.friends-page{
    position: relative;
}

.my-alert{
    height: 300px;
    width: 500px;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.4);
}

.friends-unlgd-cnt{
    height: 80vh;
}

@media screen and (max-width: 576px){

    .search-cnt{
        padding-top: 50px;
    }
}